.DS_Store
.env
scripts/__pycache__/

# Generated data directory for development environment
development/data

block-diff/shared

# Ouput directory
output/

# Ignore generated config files
covet-engine/configs/sut_gen.jpf
pathcov/configs

docker-compose.deps.yml
docker-compose.sut.yml