# ============================================================
# SUT configuration
# ============================================================
# Paths should be relative to the root given in the .env file

# Compiled classes
CLASS_PATH="out/production/jdart-examples"
TEST_CLASS_PATH="out/test/jdart-examples"

# Analysis scope
FULLY_QUALIFIED_METHOD_SIGNATURE="<test.testsuites.Test: int bar(int)>"
PROJECT_PREFIXES="test.testsuites"
